@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body{
    
    display: flex;
    flex-direction: column;
}

.header{
   background-color: #1F2937;
   padding-bottom: 25px;
}

.headerup{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 20px 0px;
    width: 80%;
}

.headerupleft{ 
    font-size: 24px;
    font-weight:bold;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}

.headerupright{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    gap: 25px;
    width: auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.headerdown{
    display: flex;
    margin: auto;
    width: 80%;
    height: auto;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
}

.headerdownleft{
    width: 40%;
}

.headerdownleftup{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    margin-bottom: 25px;
}

.headerdownleftdown{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 25px;
    
}

button{
    width: 75px;
    height: auto;
    padding: 6px 12px;
    border-radius: 10px;
    color: #e5e7eb;
    
}

button.continue {
    background: #3882F6;
    border: #F9FAF8 solid 2px;
}

.headerdownright{
    width: 500px;
    margin-bottom: 25px;
}

.moti{
    max-width: 100%;
    height: auto;
}

.middletop{
    padding-bottom: 40px;
}


.middletophead{
    text-align: center;
    margin: 45px;
    font-size: 36px;
    font-weight:bolder;
    color: #1F293f;
}

.middletoplist{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
}

#middletoplist{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    height: auto;
    width: 155px;
    font-size: 18px;
}

.image02{
    padding-bottom: 20px;
    width: 150px;
    height: auto;
}

.middlecenter{
    background-color: #e5e7eb;
    padding: 50px 150px;
}

.middlecenter01{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.middlecenter02{
    display: flex;
    justify-content: end;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.middledown{
    padding: 70px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#middledown{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6 ;
    padding: 25px;
    width: 50%;
    border-radius: 10px;
    font-size: 24px;
    color: aliceblue;
    font-weight: bold;
}


.middledown01{
    font-size: 30px;
    font-weight: bolder;
}

.continue01{
    width: 100px;
    height: 40px;
    background: #3882F6;
    border: #F9FAF8 solid 2px;

}

.footer{
    background-color: #1F2937;
    text-align: center;
    font-size: 24px;
    color: #F9FAF8;
    padding: 20px 0px;
}